/* Selectors */

/* Element selector
- Select all the tags of the same type */
body { 
    background-color: rgb(231, 205, 214);
}



/* Targeting multiple elements
- If you’d like to style more than one element the same way you can use a comma to separate the tag names. */
h1, h2, h3{
    font-family:Arial, Helvetica, sans-serif
}



/* Some elements have default styling applied in the browser that you have to consider. The p element has margin top and bottom. */
p{
    margin: .5em 0;
}



/* . Class selector
- Select an element that has a class */
.profile-pic{
    width: 150px;
    border-radius: 50%;
}



/* # ID selector
- Select an element that has has the ID - remember you can only have one unique ID per page */
#header-text{
    margin: 2em o;
}



/* + Adjacent sibling
- Select an element immediately beside another element */
h1 + p,
h3 + p{
    color: rgb(114, 46, 177);
}



/* Element selector
- Affecting multiple h2 on the page */
h2{
    text-transform:uppercase ;
    border-bottom: 2px solid #000;
}


/* > Child selector 
- Select an element directly inside another element */
header > p{
    font-size: 3rem;
}

main>section{
    margin-bottom: 4rem;
}



/* [] Attribute
- Select an element by it’s attribute. */
a[rel="external"] {
    color: rgb(0, 0, 0);
}




/* Pseudo classes */

/* :nth-child()
- Select an element by it’s number OR odd/even. */
li:nth-child(3){
color: rgb(54, 7, 37);
}

li:nth-child(odd){
    background-color: rgb(221, 150, 174);
}

/* :last-child
- Select the element when it’s the last inside its parent. */

dl div:last-child{
    background-color: rgb(221, 150, 174);
}


/* :first-of-type
- Select an element that’s the first of its kind within its parent. */
#experience section:first-of-type {
    border-bottom: 2px dashed #ccc;
}




/* Removing bullets and changing bullet type */
.skills {
    list-style: none;
}



/* Change link styling */
header a {
    color: rgb(156, 67, 95);
}
